img {
	border: none;
}

.blue {
	color: #4461AC;
}

.hrBlue {
	color: #c0cbe6;
	width: 383px;
}

#content a {
	text-decoration: none;
	color: #4461AC;
}

body {
	width: 99%;
	background-color: #FFF;
	color: #4461AC;
}

	#wrapper {
		width: 875px;
		position: relative;
		margin: 0px auto;
	}
		
		#header {
			height: 140px;
		}
		
			#logo {
				margin: 0px auto;
				height: 66px;
				width: 345px;
				background: transparent url(../images/logo.png) top left no-repeat;
			}
		
			#nav {
				margin-top: 10px;
				height: 57px;
				background: transparent url(../images/bg_nav.png) top left no-repeat;
				position: relative;
			}
		
				#nav ul {
					position: absolute;
					top: 5px;
					left: 225px;
				}
			
					#nav ul li{
						display: inline;
					}
				
						#nav ul li a {
							text-decoration: none;
						}
						
		#content {
			width: 875px;
			height: 525px;
			position: relative;
			margin-top: 20px;
		}
		
		.tree {
			background: transparent url(../images/bg_home.png) top center no-repeat;
		}
		
			#leftHomePicture {
				position: absolute;
				top: 63px;
				left: 102px;
			}
			
			#rsvpButton {
				position: absolute;
				top: 256px;
				left: 460px;
			}
			
			#rightHomePicture {
				position: absolute;
				top: 75px;
				right: 82px;
				z-index: 2;
			}
			
/******** RSVP Form Styles *******/
#div_id_dinner_dancing, #div_id_how_many, #div_id_names {
	margin-bottom: 20px;
}

#div_id_stuffed_turkey_roulade, #div_id_citrus_grilled_salmon {
	margin: 20px;
}

legend {
	font-weight: bold;
	margin-bottom: -10px;
}

label[for=id_dinner_dancing], label[for=id_how_many], label[for=id_names], label[for=id_comments] {
	font-weight: bold;
}

.description, #hint_id_stuffed_turkey_roulade, #hint_id_citrus_grilled_salmon {
	font-style: italic;
	font-size: 14px;
}

#hint_id_stuffed_turkey_roulade, #hint_id_citrus_grilled_salmon {
	margin-right: 400px;
}

input[type=text], #id_comments {
	border: 1px solid #4461ac;
}

#id_how_many, #id_stuffed_turkey_roulade, #id_citrus_grilled_salmon {
	width: 30px;
}

input[type=submit] {
	margin-top: 25px;
	background-color: #4461ac;
	width: 95px;
	height: 25px;
	color: #FFF;
}

/******** End RSVP Form Styles *******/