{% extends "site_base.html" %}
{% load uni_form_tags %}
{% block body %}
<form action="" method="POST" class="uniForm">
        {% csrf_token %}
        {{ form|as_uni_form }}

        {{ formset.management_form }}
        
        {% for form in formset.forms %}
            {{ form|as_uni_form }}
        {% endfor %}

        <div class="form_block">
            <input type="button" id="addGuest" value="Add Guest">
            <input type="button" id="removeGuest" value="Remove Guest">
        </div>
        <div id="dinner_descriptions">
            <p>
                <strong>Stuffed Turkey Roulade (Bride &amp; Grooms Favorite)</strong><br />
                Sliced Turkey Breast stuffed with Pine Nuts, Carrots, Spinach, &amp; Red Onions <br />
                Served with an Orange and Tarragon Burgundy Sauce
            </p>

            <p>
                <strong>Citrus Grilled Salmon</strong> <br />
                Grilled Salmon Filet with a Tri-Colored Peppercorn Citrus Sauce <br />
                All Entrees will be served with side salad, rolls &amp; two side dishes.
            </p>
        </div>
        <div class="form_block">
            <input type="submit" value="Send">
        </div>
    </fieldset>
</form>
{% endblock %}