DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.postgresql_psycopg2",
        "NAME": "base",
        "USER": "",
        "PASSWORD": "",
        "HOST": "",
        "PORT": "",
    }
}

ACCOUNT_OPEN_SIGNUP = True
EMAIL_HOST = "smtp.gmail.com"
EMAIL_HOST_PASSWORD = "basebasebase"
EMAIL_HOST_USER = 'formsender@servee.com'
EMAIL_PORT = 587
EMAIL_USE_TLS = True

SENTRY_ADMINS = (
    "issac@servee.com",
)
SENTRY_TESTING = True

TIME_ZONE = "US/Eastern"
