#!/bin/sh
source /home/serveruser/.virtualenvs/adamanderikahines/bin/activate
cd /home/serveruser/development-sites/adamanderikahines/
python manage.py build_static --noinput
supervisorctl stop base
deactivate
